<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>foodfy</title>
  <link rel="stylesheet" href="estilo.css" />
</head>

<body>
  <header>
    <div>
      <a href="index.html" class="linkes">Foodfy</a>
      <a href="sobre.html" class="links">Sobre</a>
      <a href="receitas.html" class="links">Receitas</a>
    </div>
    <div id="wrapper">
      <h1>Mais acessadas</h1>
    </div>
    <section class="cards">

      <div class="card" id="burger.png">
        <div class="card_image-container">
          <img src="../assets/burger.png" alt="Hamburguer">
        </div>
        <div class="card_content">
          <p>Triplo bacon burger</p>
        </div>
        <div class="card_info">
          <p>por Jorge Relato</p>
        </div>
      </div>
      <div class="card" id="pizza.png">
        <div class="card_image-container">
          <img src="../assets/pizza.png" alt="pizza">
        </div>
        <div class="card_content">
          <p> Pizza 4 estações</p>
        </div>
        <div class="card_info">
          <p> por Fabiana Melo</p>
        </div>
      </div>
      <div class="card" id="espaguete.png">
        <div class="card_image-container">
          <img src="../assets/espaguete.png" alt="espaguete ao alho">
        </div>
        <div class="card_content">
          <p>Espaguete ao alho</p>
        </div>
        <div class="card_info">
          <p>por Júlia Kinoto</p>
        </div>
      </div>
      <div class="card" id="lasanha.png">
        <div class="card_image-container">
          <img src="../assets/lasanha.png" alt="lasanha">
        </div>
        <div class="card_content">
          <p>Lasanha mac n´chesse</p>
        </div>
        <div class="card_info">
          <p>por Jualiano Vieira</p>
        </div>
      </div>
      <div class="card" id="doce.png">
        <div class="card_image-container">
          <img src="../assets/doce.png" alt="doce">
        </div>
        <div class="card_content">
          <p>Docinhos pão-do-céu</p>
        </div>
        <div class="card_info">
          <p>por Ricardo Golvea</p>
        </div>
      </div>
      <div class="card" id="asinhas.png">
        <div class="card_image-container">
          <img src="../assets/asinhas.png" alt="asinhas">
        </div>
        <div class="card_content">
          <p>Asinhas de frango ao barbecue</p>
        </div>
        <div class="card_info">
          <p>Vania Steroski</p>
        </div>
      </div>

    </section>
    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <img src="../assets/asinhas.png" class="total"></img>
        </div>
      </div>
    </div>
    <div class="footer">
      Todos os direitos reservados, receitas Foodfy.
    </div>
    <script src="scripts.js"></script>
</body>

</html>