<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>foodfy</title>
  <link rel="stylesheet" href="estily.css" />
</head>

<body>
  <header>
    <div>
      <a href="index.html" class="linkes">Foodfy</a>
      <a href="sobre.html" class="links">Sobre</a>
      <a href="receitas.html" class="links">Receitas</a>
    </div>

    <div class="sobre">
      <h1>Sobre o Foodfy</h1>

      <p>Ice cream croissant marshmallow sugar plum pie sesame snaps dragée toffee croissant. Biscuit marshmallow
        lollipop
        jelly beans soufflé candy canes chocolate. Sweet roll cheesecake powder gummi bears bear claw cheesecake
        cheesecake
        donut. Candy sweet jelly pastry biscuit dragée. Lemon drops marzipan marshmallow biscuit fruitcake gummi bears
        biscuit tiramisu. </p>
      <p>Biscuit ice cream dessert jelly-o powder tootsie roll. Croissant jelly beans muffin cake sesame
        snaps cotton candy tiramisu. Jelly beans marzipan caramels soufflé cake halvah. Bear claw bonbon croissant apple
        pie wafer halvah sweet roll powder. Candy dessert cake sugar plum muffin tart cookie. Candy canes gummies halvah
        cake.</p>
      <h2>Como que tudo começou...</h2>

      <p>Jujubes cotton candy icing muffin chocolate bar ice cream danish.
        Lollipop toffee bear claw marzipan marshmallow chupa chups cake cake. Icing sesame snaps bonbon jelly-o caramels
        danish lollipop pie. Chupa chups toffee tootsie roll pie muffin. Gummi bears jelly beans candy canes jujubes.
      </p>
      <p>Sweet
        chocolate bar pudding cake ice cream. Gummi bears wafer pudding powder topping tiramisu dessert. Cake marzipan
        tootsie roll. Dessert topping apple pie dessert wafer bear claw candy canes marzipan. Cookie tootsie roll lemon
        drops pie toffee chocolate cake jelly beans dessert. </p>
      <p>Sugar plum jelly beans caramels pudding jelly beans halvah
        caramels wafer jujubes. Tootsie roll cupcake candy jelly-o halvah carrot cake cake donut. Dessert sweet roll
        jelly-o muffin. Candy canes tart liquorice jelly halvah. Icing sweet jelly powder chocolate bar marzipan
        chocolate.</p>
      <p>Sweet oat cake ice cream sesame snaps lollipop ice cream dessert. Jelly-o tart dessert macaroon caramels toffee
        candy canes. Marshmallow gummi bears tiramisu. Pastry croissant gummies pie jelly-o dragée bear claw caramels
        powder. Macaroon sweet roll caramels chocolate cake caramels marshmallow cupcake chocolate cake. Tiramisu
        cheesecake
        tiramisu apple pie gummies ice cream dragée. Icing donut jujubes pie apple pie chocolate bar cheesecake. </p>


      <h2>Nossas receitas</h2>
      <p>Cheesecake chocolate cake chocolate bar halvah apple pie. Chocolate caramels biscuit muffin bonbon oat cake
        sesame
        snaps brownie. Jelly chocolate bar candy canes carrot cake cheesecake. Tiramisu cheesecake apple pie.</p>

      <p>Donut bear claw chocolate bar halvah tart muffin macaroon. Cotton candy carrot cake cake tart
        soufflé wafer. Cake macaroon tootsie roll croissant danish marzipan. Bonbon chocolate bar jujubes fruitcake
        gummies
        cookie dragée wafer. Jelly-o bonbon icing cotton candy marshmallow chocolate cake. Cotton candy halvah chocolate
        bar
        chocolate cake biscuit cotton candy dragée marshmallow jelly beans. Tootsie roll pastry cake jelly beans pie
        bonbon.
      </p>
    </div>
    <div class="footer">
      Todos os direitos reservados, receitas Foodfy.
    </div>

</body>

</html>